.star-card--item {
  height: 300px;
  width: 50%;
  display: flex;
  flex-direction: row;
  margin: 3em auto;
}

.star-card__body {
  align-items: start;
}

.star-card__title {
  margin: 0 auto;
}

.star-card__img--item {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
