.card-list {
  margin: 1em auto;
  display: flex;
  flex-wrap: wrap;
}

.card-row {
  width: 100%;
  margin: auto;
}

.star-card {
  display: flex;
  height: 100%;
  background-color: #5986d3 !important;
  color: white !important;
}

.card-img {
  height: 15em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-info {
  height: 8em;
}

.cart {
  margin-left: 15%;
  margin-top: 1em;
}

.col {
  margin-bottom: 1em;
}
