.card-list {
  margin: 1em auto;
  display: flex;
  flex-wrap: wrap;
}

.star-card {
  display: flex;
  height: 100%;
}

.card-img {
  height: 15em;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
