.card-list {
  margin: 1em auto;
  display: flex;
  flex-wrap: wrap;
}

.card-row {
  width: 71.5%;
  margin: auto;
}

.star-card {
  display: flex;
  height: 100%;
}

.card-img {
  height: 15em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-info {
  height: 8em;
}
