.input {
	width: 100%;
	margin: 1em auto;	
}

.input__container {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.main_page {
	width: 70%;
	margin: auto;
}

.black-placeholder::placeholder {
	color: black;
}

.black-placeholder {
	color: black !important; 
	border-radius: 0;
	background-color: white !important;
}
