.input {
	width: 70%;
	margin: 1em auto;	
}

.input__container {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.input__field {
	width: 90%;
	border-radius: 0;
	background-color: white !important;
	color: black !important;
}

.input__field::placeholder {
	color: black;
}
