.navbar {
	padding: 1em 2em 1em 2em;
}

.navbar__container{
	width: 50%;
}

.navbar_item {
	margin-left: 2em;
}

.navbar-btn {
	border-top: 2px #2050a0 solid
}

.navbar-btn:hover {
	border-top: 2px red solid;
}
