.navbar {
	border-bottom: 1px solid white;
	padding: 1em 2em 1em 2em;
}

.navbar__container{
	width: 30%;
}

.navbar_item {
	margin-left: 2em;
}

.icon {
	height: 2em;
	margin-left: 2em;
}

.icon:hover {
	cursor: pointer;
}
